h2{
    font-family: 'Tajawal', sans-serif !important;
    padding: 5px;
 
    font-weight: 600 !important;


}
a{
    
        color:#237C6B !important;

        padding: 7px;
    
       
}
h4{
    color:#237C6B !important;

}